@{
    Layout = "_Layout";
}

<div class="box-content">
    <div class="box-heading">
        <div class="box-title">
            <h3 class="mb-35 " style="text-align:center;">Adaylar</h3>
        </div>
  
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="section-box">
                <div class="container">
                    <div class="panel-white mb-30">
                        <div class="box-padding">
                         
                            <div class="row">
                                <div class="col-xl-3 col-lg-4 col-md-6">
                                    <div class="card-grid-2 hover-up">
                                        <div class="card-grid-2-image-left">
                                            <div class="card-grid-2-image-rd online">
                                                <a href="candidate-details.html">
                                                    <figure><img alt="jobBox" src="~/Assets/imgs/page/candidates/user1.png"></figure>
                                                </a>
                                            </div>
                                            <div class="card-profile pt-10">
                                                <a href="candidate-details.html">
                                                    <h5>Ali Yılmaz</h5>
                                                </a><span class="font-xs color-text-mutted">Tarım İşçisi</span>
                                                <div class="rate-reviews-small pt-5"><span><img src="~/Assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/Assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/Assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/Assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/Assets/imgs/template/icons/star.svg" alt="jobBox"></span><span class="ml-10 color-text-mutted font-xs">(65)</span></div>
                                            </div>
                                        </div>
                                        <div class="card-block-info">
                                            <p class="font-xs color-text-paragraph-2">| 10 yıldan fazla süredir mevsimlik işçi olarak çalışmaktayım.</p>
                                            <div class="card-2-bottom card-2-bottom-candidate mt-30">
                                                <div class="text-start">
                                                    <a class="btn btn-tags-sm mb-10 mr-5" href="jobs-grid.html">Üzüm Toplama</a><a class="btn btn-tags-sm mb-10 mr-5" href="jobs-grid.html">Çay Toplama</a><a class="btn btn-tags-sm mb-10 mr-5" href="jobs-grid.html">Seracılık</a>
                                                </div>
                                            </div>
                                            <div class="employers-info align-items-center justify-content-center mt-15">
                                                <div class="row">
                                                    <div class="col-6"><span class="d-flex align-items-center"><i class="fi-rr-marker mr-5 ml-0"></i><span class="font-sm color-text-mutted">Manisa, Yunusemre</span></span></div>
                                                    <div class="col-6"><span class="d-flex align-items-center"><i class="fi-rr-check mr-5 ml-0"></i><span class="font-sm color-text-mutted">İşe Alındı</span></span></div>


                                                </div>
                                                <div class="col-12"><span class="d-flex align-items-center" style="float:right;"><span class="font-sm color-text-mutted"><a href="">Puanla</a></span></span></div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6">
                                    <div class="card-grid-2 hover-up">
                                        <div class="card-grid-2-image-left">
                                            <div class="card-grid-2-image-rd online">
                                                <a href="candidate-details.html">
                                                    <figure><img alt="jobBox" src="~/Assets/imgs/page/candidates/user1.png"></figure>
                                                </a>
                                            </div>
                                            <div class="card-profile pt-10">
                                                <a href="candidate-details.html">
                                                    <h5>Ali Yılmaz</h5>
                                                </a><span class="font-xs color-text-mutted">Tarım İşçisi</span>
                                                <div class="rate-reviews-small pt-5"><span><img src="~/Assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/Assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/Assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/Assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/Assets/imgs/template/icons/star.svg" alt="jobBox"></span><span class="ml-10 color-text-mutted font-xs">(65)</span></div>
                                            </div>
                                        </div>
                                        <div class="card-block-info">
                                            <p class="font-xs color-text-paragraph-2">| 10 yıldan fazla süredir mevsimlik işçi olarak çalışmaktayım.</p>
                                            <div class="card-2-bottom card-2-bottom-candidate mt-30">
                                                <div class="text-start">
                                                    <a class="btn btn-tags-sm mb-10 mr-5" href="jobs-grid.html">Üzüm Toplama</a><a class="btn btn-tags-sm mb-10 mr-5" href="jobs-grid.html">Çay Toplama</a><a class="btn btn-tags-sm mb-10 mr-5" href="jobs-grid.html">Seracılık</a>
                                                </div>
                                            </div>
                                            <div class="employers-info align-items-center justify-content-center mt-15">
                                                <div class="row">
                                                    <div class="col-6"><span class="d-flex align-items-center"><i class="fi-rr-marker mr-5 ml-0"></i><span class="font-sm color-text-mutted">Manisa, Yunusemre</span></span></div>
                                                    <div class="col-lg-3 col-3 ">
                                                        <div class="btn btn-apply-now" style="background-color:darkblue; color:white;" data-bs-toggle="modal" data-bs-target="#ModalApplyJobForm">İşe Al</div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6">
                                    <div class="card-grid-2 hover-up">
                                        <div class="card-grid-2-image-left">
                                            <div class="card-grid-2-image-rd online">
                                                <a href="candidate-details.html">
                                                    <figure><img alt="jobBox" src="~/Assets/imgs/page/candidates/user1.png"></figure>
                                                </a>
                                            </div>
                                            <div class="card-profile pt-10">
                                                <a href="candidate-details.html">
                                                    <h5>Ali Yılmaz</h5>
                                                </a><span class="font-xs color-text-mutted">Tarım İşçisi</span>
                                                <div class="rate-reviews-small pt-5"><span><img src="~/Assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/Assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/Assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/Assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/Assets/imgs/template/icons/star.svg" alt="jobBox"></span><span class="ml-10 color-text-mutted font-xs">(65)</span></div>
                                            </div>
                                        </div>
                                        <div class="card-block-info">
                                            <p class="font-xs color-text-paragraph-2">| 10 yıldan fazla süredir mevsimlik işçi olarak çalışmaktayım.</p>
                                            <div class="card-2-bottom card-2-bottom-candidate mt-30">
                                                <div class="text-start">
                                                    <a class="btn btn-tags-sm mb-10 mr-5" href="jobs-grid.html">Üzüm Toplama</a><a class="btn btn-tags-sm mb-10 mr-5" href="jobs-grid.html">Çay Toplama</a><a class="btn btn-tags-sm mb-10 mr-5" href="jobs-grid.html">Seracılık</a>
                                                </div>
                                            </div>
                                            <div class="employers-info align-items-center justify-content-center mt-15">
                                                <div class="row">
                                                    <div class="col-6"><span class="d-flex align-items-center"><i class="fi-rr-marker mr-5 ml-0"></i><span class="font-sm color-text-mutted">Manisa, Yunusemre</span></span></div>
                                                    <div class="col-lg-3 col-3 ">
                                                        <div class="btn btn-apply-now" style="background-color:darkblue; color:white;" data-bs-toggle="modal" data-bs-target="#ModalApplyJobForm">İşe Al</div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6">
                                    <div class="card-grid-2 hover-up">
                                        <div class="card-grid-2-image-left">
                                            <div class="card-grid-2-image-rd online">
                                                <a href="candidate-details.html">
                                                    <figure><img alt="jobBox" src="~/Assets/imgs/page/candidates/user1.png"></figure>
                                                </a>
                                            </div>
                                            <div class="card-profile pt-10">
                                                <a href="candidate-details.html">
                                                    <h5>Ali Yılmaz</h5>
                                                </a><span class="font-xs color-text-mutted">Tarım İşçisi</span>
                                                <div class="rate-reviews-small pt-5"><span><img src="~/Assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/Assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/Assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/Assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/Assets/imgs/template/icons/star.svg" alt="jobBox"></span><span class="ml-10 color-text-mutted font-xs">(65)</span></div>
                                            </div>
                                        </div>
                                        <div class="card-block-info">
                                            <p class="font-xs color-text-paragraph-2">| 10 yıldan fazla süredir mevsimlik işçi olarak çalışmaktayım.</p>
                                            <div class="card-2-bottom card-2-bottom-candidate mt-30">
                                                <div class="text-start">
                                                    <a class="btn btn-tags-sm mb-10 mr-5" href="jobs-grid.html">Üzüm Toplama</a><a class="btn btn-tags-sm mb-10 mr-5" href="jobs-grid.html">Çay Toplama</a><a class="btn btn-tags-sm mb-10 mr-5" href="jobs-grid.html">Seracılık</a>
                                                </div>
                                            </div>
                                            <div class="employers-info align-items-center justify-content-center mt-15">
                                                <div class="row">
                                                    <div class="col-6"><span class="d-flex align-items-center"><i class="fi-rr-marker mr-5 ml-0"></i><span class="font-sm color-text-mutted">Manisa, Yunusemre</span></span></div>
                                                    <div class="col-lg-3 col-3 ">
                                                        <div class="btn btn-apply-now" style="background-color:darkblue; color:white;" data-bs-toggle="modal" data-bs-target="#ModalApplyJobForm">İşe Al</div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6">
                                    <div class="card-grid-2 hover-up">
                                        <div class="card-grid-2-image-left">
                                            <div class="card-grid-2-image-rd online">
                                                <a href="candidate-details.html">
                                                    <figure><img alt="jobBox" src="~/Assets/imgs/page/candidates/user1.png"></figure>
                                                </a>
                                            </div>
                                            <div class="card-profile pt-10">
                                                <a href="candidate-details.html">
                                                    <h5>Ali Yılmaz</h5>
                                                </a><span class="font-xs color-text-mutted">Tarım İşçisi</span>
                                                <div class="rate-reviews-small pt-5"><span><img src="~/Assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/Assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/Assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/Assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/Assets/imgs/template/icons/star.svg" alt="jobBox"></span><span class="ml-10 color-text-mutted font-xs">(65)</span></div>
                                            </div>
                                        </div>
                                        <div class="card-block-info">
                                            <p class="font-xs color-text-paragraph-2">| 10 yıldan fazla süredir mevsimlik işçi olarak çalışmaktayım.</p>
                                            <div class="card-2-bottom card-2-bottom-candidate mt-30">
                                                <div class="text-start">
                                                    <a class="btn btn-tags-sm mb-10 mr-5" href="jobs-grid.html">Üzüm Toplama</a><a class="btn btn-tags-sm mb-10 mr-5" href="jobs-grid.html">Çay Toplama</a><a class="btn btn-tags-sm mb-10 mr-5" href="jobs-grid.html">Seracılık</a>
                                                </div>
                                            </div>
                                            <div class="employers-info align-items-center justify-content-center mt-15">
                                                <div class="row">
                                                    <div class="col-6"><span class="d-flex align-items-center"><i class="fi-rr-marker mr-5 ml-0"></i><span class="font-sm color-text-mutted">Manisa, Yunusemre</span></span></div>
                                                    <div class="col-lg-3 col-3 ">
                                                        <div class="btn btn-apply-now" style="background-color:darkblue; color:white;" data-bs-toggle="modal" data-bs-target="#ModalApplyJobForm">İşe Al</div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6">
                                    <div class="card-grid-2 hover-up">
                                        <div class="card-grid-2-image-left">
                                            <div class="card-grid-2-image-rd online">
                                                <a href="candidate-details.html">
                                                    <figure><img alt="jobBox" src="~/Assets/imgs/page/candidates/user1.png"></figure>
                                                </a>
                                            </div>
                                            <div class="card-profile pt-10">
                                                <a href="candidate-details.html">
                                                    <h5>Ali Yılmaz</h5>
                                                </a><span class="font-xs color-text-mutted">Tarım İşçisi</span>
                                                <div class="rate-reviews-small pt-5"><span><img src="~/Assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/Assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/Assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/Assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/Assets/imgs/template/icons/star.svg" alt="jobBox"></span><span class="ml-10 color-text-mutted font-xs">(65)</span></div>
                                            </div>
                                        </div>
                                        <div class="card-block-info">
                                            <p class="font-xs color-text-paragraph-2">| 10 yıldan fazla süredir mevsimlik işçi olarak çalışmaktayım.</p>
                                            <div class="card-2-bottom card-2-bottom-candidate mt-30">
                                                <div class="text-start">
                                                    <a class="btn btn-tags-sm mb-10 mr-5" href="jobs-grid.html">Üzüm Toplama</a><a class="btn btn-tags-sm mb-10 mr-5" href="jobs-grid.html">Çay Toplama</a><a class="btn btn-tags-sm mb-10 mr-5" href="jobs-grid.html">Seracılık</a>
                                                </div>
                                            </div>
                                            <div class="employers-info align-items-center justify-content-center mt-15">
                                                <div class="row">
                                                    <div class="col-6"><span class="d-flex align-items-center"><i class="fi-rr-marker mr-5 ml-0"></i><span class="font-sm color-text-mutted">Manisa, Yunusemre</span></span></div>
                                                    <div class="col-lg-3 col-3 ">
                                                        <div class="btn btn-apply-now" style="background-color:darkblue; color:white;" data-bs-toggle="modal" data-bs-target="#ModalApplyJobForm">İşe Al</div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6">
                                    <div class="card-grid-2 hover-up">
                                        <div class="card-grid-2-image-left">
                                            <div class="card-grid-2-image-rd online">
                                                <a href="candidate-details.html">
                                                    <figure><img alt="jobBox" src="~/Assets/imgs/page/candidates/user1.png"></figure>
                                                </a>
                                            </div>
                                            <div class="card-profile pt-10">
                                                <a href="candidate-details.html">
                                                    <h5>Ali Yılmaz</h5>
                                                </a><span class="font-xs color-text-mutted">Tarım İşçisi</span>
                                                <div class="rate-reviews-small pt-5"><span><img src="~/Assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/Assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/Assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/Assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/Assets/imgs/template/icons/star.svg" alt="jobBox"></span><span class="ml-10 color-text-mutted font-xs">(65)</span></div>
                                            </div>
                                        </div>
                                        <div class="card-block-info">
                                            <p class="font-xs color-text-paragraph-2">| 10 yıldan fazla süredir mevsimlik işçi olarak çalışmaktayım.</p>
                                            <div class="card-2-bottom card-2-bottom-candidate mt-30">
                                                <div class="text-start">
                                                    <a class="btn btn-tags-sm mb-10 mr-5" href="jobs-grid.html">Üzüm Toplama</a><a class="btn btn-tags-sm mb-10 mr-5" href="jobs-grid.html">Çay Toplama</a><a class="btn btn-tags-sm mb-10 mr-5" href="jobs-grid.html">Seracılık</a>
                                                </div>
                                            </div>
                                            <div class="employers-info align-items-center justify-content-center mt-15">
                                                <div class="row">
                                                    <div class="col-6"><span class="d-flex align-items-center"><i class="fi-rr-marker mr-5 ml-0"></i><span class="font-sm color-text-mutted">Manisa, Yunusemre</span></span></div>
                                                    <div class="col-lg-3 col-3 ">
                                                        <div class="btn btn-apply-now" style="background-color:darkblue; color:white;" data-bs-toggle="modal" data-bs-target="#ModalApplyJobForm">İşe Al</div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6">
                                    <div class="card-grid-2 hover-up">
                                        <div class="card-grid-2-image-left">
                                            <div class="card-grid-2-image-rd online">
                                                <a href="candidate-details.html">
                                                    <figure><img alt="jobBox" src="~/Assets/imgs/page/candidates/user1.png"></figure>
                                                </a>
                                            </div>
                                            <div class="card-profile pt-10">
                                                <a href="candidate-details.html">
                                                    <h5>Ali Yılmaz</h5>
                                                </a><span class="font-xs color-text-mutted">Tarım İşçisi</span>
                                                <div class="rate-reviews-small pt-5"><span><img src="~/Assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/Assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/Assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/Assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/Assets/imgs/template/icons/star.svg" alt="jobBox"></span><span class="ml-10 color-text-mutted font-xs">(65)</span></div>
                                            </div>
                                        </div>
                                        <div class="card-block-info">
                                            <p class="font-xs color-text-paragraph-2">| 10 yıldan fazla süredir mevsimlik işçi olarak çalışmaktayım.</p>
                                            <div class="card-2-bottom card-2-bottom-candidate mt-30">
                                                <div class="text-start">
                                                    <a class="btn btn-tags-sm mb-10 mr-5" href="jobs-grid.html">Üzüm Toplama</a><a class="btn btn-tags-sm mb-10 mr-5" href="jobs-grid.html">Çay Toplama</a><a class="btn btn-tags-sm mb-10 mr-5" href="jobs-grid.html">Seracılık</a>
                                                </div>
                                            </div>
                                            <div class="employers-info align-items-center justify-content-center mt-15">
                                                <div class="row">
                                                    <div class="col-6"><span class="d-flex align-items-center"><i class="fi-rr-marker mr-5 ml-0"></i><span class="font-sm color-text-mutted">Manisa, Yunusemre</span></span></div>
                                                    <div class="col-lg-3 col-3 ">
                                                        <div class="btn btn-apply-now" style="background-color:darkblue; color:white;" data-bs-toggle="modal" data-bs-target="#ModalApplyJobForm">İşe Al</div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6">
                                    <div class="card-grid-2 hover-up">
                                        <div class="card-grid-2-image-left">
                                            <div class="card-grid-2-image-rd online">
                                                <a href="candidate-details.html">
                                                    <figure><img alt="jobBox" src="~/Assets/imgs/page/candidates/user1.png"></figure>
                                                </a>
                                            </div>
                                            <div class="card-profile pt-10">
                                                <a href="candidate-details.html">
                                                    <h5>Ali Yılmaz</h5>
                                                </a><span class="font-xs color-text-mutted">Tarım İşçisi</span>
                                                <div class="rate-reviews-small pt-5"><span><img src="~/Assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/Assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/Assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/Assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/Assets/imgs/template/icons/star.svg" alt="jobBox"></span><span class="ml-10 color-text-mutted font-xs">(65)</span></div>
                                            </div>
                                        </div>
                                        <div class="card-block-info">
                                            <p class="font-xs color-text-paragraph-2">| 10 yıldan fazla süredir mevsimlik işçi olarak çalışmaktayım.</p>
                                            <div class="card-2-bottom card-2-bottom-candidate mt-30">
                                                <div class="text-start">
                                                    <a class="btn btn-tags-sm mb-10 mr-5" href="jobs-grid.html">Üzüm Toplama</a><a class="btn btn-tags-sm mb-10 mr-5" href="jobs-grid.html">Çay Toplama</a><a class="btn btn-tags-sm mb-10 mr-5" href="jobs-grid.html">Seracılık</a>
                                                </div>
                                            </div>
                                            <div class="employers-info align-items-center justify-content-center mt-15">
                                                <div class="row">
                                                    <div class="col-6"><span class="d-flex align-items-center"><i class="fi-rr-marker mr-5 ml-0"></i><span class="font-sm color-text-mutted">Manisa, Yunusemre</span></span></div>
                                                    <div class="col-lg-3 col-3 ">
                                                        <div class="btn btn-apply-now" style="background-color:darkblue; color:white;" data-bs-toggle="modal" data-bs-target="#ModalApplyJobForm">İşe Al</div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6">
                                    <div class="card-grid-2 hover-up">
                                        <div class="card-grid-2-image-left">
                                            <div class="card-grid-2-image-rd online">
                                                <a href="candidate-details.html">
                                                    <figure><img alt="jobBox" src="~/Assets/imgs/page/candidates/user1.png"></figure>
                                                </a>
                                            </div>
                                            <div class="card-profile pt-10">
                                                <a href="candidate-details.html">
                                                    <h5>Ali Yılmaz</h5>
                                                </a><span class="font-xs color-text-mutted">Tarım İşçisi</span>
                                                <div class="rate-reviews-small pt-5"><span><img src="~/Assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/Assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/Assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/Assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/Assets/imgs/template/icons/star.svg" alt="jobBox"></span><span class="ml-10 color-text-mutted font-xs">(65)</span></div>
                                            </div>
                                        </div>
                                        <div class="card-block-info">
                                            <p class="font-xs color-text-paragraph-2">| 10 yıldan fazla süredir mevsimlik işçi olarak çalışmaktayım.</p>
                                            <div class="card-2-bottom card-2-bottom-candidate mt-30">
                                                <div class="text-start">
                                                    <a class="btn btn-tags-sm mb-10 mr-5" href="jobs-grid.html">Üzüm Toplama</a><a class="btn btn-tags-sm mb-10 mr-5" href="jobs-grid.html">Çay Toplama</a><a class="btn btn-tags-sm mb-10 mr-5" href="jobs-grid.html">Seracılık</a>
                                                </div>
                                            </div>
                                            <div class="employers-info align-items-center justify-content-center mt-15">
                                                <div class="row">
                                                    <div class="col-6"><span class="d-flex align-items-center"><i class="fi-rr-marker mr-5 ml-0"></i><span class="font-sm color-text-mutted">Manisa, Yunusemre</span></span></div>
                                                    <div class="col-lg-3 col-3 ">
                                                        <div class="btn btn-apply-now" style="background-color:darkblue; color:white;" data-bs-toggle="modal" data-bs-target="#ModalApplyJobForm">İşe Al</div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="paginations">
                                <ul class="pager">
                                    <li><a class="pager-prev" href="#"></a></li>
                                    <li><a class="pager-number" href="#">1</a></li>
                                    <li><a class="pager-number" href="#">2</a></li>
                                    <li><a class="pager-number" href="#">3</a></li>
                                    <li><a class="pager-number" href="#">4</a></li>
                                    <li><a class="pager-number" href="#">5</a></li>
                                    <li><a class="pager-number active" href="#">6</a></li>
                                    <li><a class="pager-number" href="#">7</a></li>
                                    <li><a class="pager-next" href="#"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-10">
        <div class="section-box">
            <div class="container">
                <div class="panel-white pt-30 pb-30 pl-15 pr-15">
                    <div class="box-swiper">
                        <div class="swiper-container swiper-group-10">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide"> <img src="assets/imgs/page/dashboard/microsoft.svg" alt="jobBox"></div>
                                <div class="swiper-slide"> <img src="assets/imgs/page/dashboard/sony.svg" alt="jobBox"></div>
                                <div class="swiper-slide"> <img src="assets/imgs/page/dashboard/acer.svg" alt="jobBox"></div>
                                <div class="swiper-slide"> <img src="assets/imgs/page/dashboard/nokia.svg" alt="jobBox"></div>
                                <div class="swiper-slide"> <img src="assets/imgs/page/dashboard/asus.svg" alt="jobBox"></div>
                                <div class="swiper-slide"> <img src="assets/imgs/page/dashboard/casio.svg" alt="jobBox"></div>
                                <div class="swiper-slide"> <img src="assets/imgs/page/dashboard/dell.svg" alt="jobBox"></div>
                                <div class="swiper-slide"> <img src="assets/imgs/page/dashboard/panasonic.svg" alt="jobBox"></div>
                                <div class="swiper-slide"> <img src="assets/imgs/page/dashboard/vaio.svg" alt="jobBox"></div>
                                <div class="swiper-slide"> <img src="assets/imgs/page/dashboard/sony.svg" alt="jobBox"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ModalApplyJobForm" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content apply-job-form">
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-body pl-30 pr-30 pt-50">
                    <div class="text-center">
                        <p class="font-sm text-brand-2">Job Application </p>
                        <h2 class="mt-10 mb-5 text-brand-1 text-capitalize">Start your career today</h2>
                        <p class="font-sm text-muted mb-30">Please fill in your information and send it to the employer.                   </p>
                    </div>
                    <form class="login-register text-start mt-20 pb-30" action="#">
                        <div class="form-group">
                            <label class="form-label" for="input-1">Full Name *</label>
                            <input class="form-control" id="input-1" type="text" required="" name="fullname" placeholder="Steven Job">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="input-2">Email *</label>
                            <input class="form-control" id="input-2" type="email" required="" name="emailaddress" placeholder="stevenjob@gmail.com">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="number">Contact Number *</label>
                            <input class="form-control" id="number" type="text" required="" name="phone" placeholder="(+01) 234 567 89">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="des">Description</label>
                            <input class="form-control" id="des" type="text" required="" name="Description" placeholder="Your description...">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="file">Upload Resume</label>
                            <input class="form-control" id="file" name="resume" type="file">
                        </div>
                        <div class="login_footer form-group d-flex justify-content-between">
                            <label class="cb-container">
                                <input type="checkbox"><span class="text-small">Agree our terms and policy</span><span class="checkmark"></span>
                            </label><a class="text-muted" href="page-contact.html">Lean more</a>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-default hover-up w-100" type="submit" name="login">Apply Job</button>
                        </div>
                        <div class="text-muted text-center">Do you need support? <a href="page-contact.html">Contact Us</a></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer mt-20">
        <div class="container">
            <div class="box-footer">
                <div class="row">
                    <div class="col-md-6 col-sm-12 mb-25 text-center text-md-start">
                        <p class="font-sm color-text-paragraph-2">© 2022 - <a class="color-brand-2" href="https://themeforest.net/item/jobbox-job-portal-html-bootstrap-5-template/39217891" target="_blank">JobBox </a>Dashboard <span> Made by  </span><a class="color-brand-2" href="http://alithemes.com" target="_blank"> AliThemes</a></p>
                    </div>
                    <div class="col-md-6 col-sm-12 text-center text-md-end mb-25">
                        <ul class="menu-footer">
                            <li><a href="#">About</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Policy</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>