@{
    Layout = "_Layout";
}
@*<main class="main my-jobs">
        <a href="~/ilan-formu">Form</a>
    </main>*@

<main class="main">
    <section class="section-box-2">
        <div class="container">
            <div class="banner-hero banner-single banner-single-bg">
                <div class="block-banner text-center">
                    <h3  style="padding-bottom:2rem;" class="wow animate__animated animate__fadeInUp"> İş İlanlarım</h3>
                    <a href="~/ilan-formu" class="btn btn-default btn-find font-sm">İlan Ekle</a>


                </div>
            </div>
        </div>
    </section>

    <section class="section-box mt-30">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 float-right">
                    <div class="content-page">

                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                <div class="card-grid-2 hover-up">
                                    <div class="card-grid-2-image-left">
                                        <span class="flash"></span>
                                        <div class="image-box cstm-img"><img src="~/Assets/imgs/job2.jpg" alt="jobBox"></div>
                                        <div class="right-info"><span class="location-small">Manisa, Turgutlu</span></div>
                                    </div>
                                    <div class="card-block-info">
                                        <h6><a href="job-details.html">Üzüm Hasadı İşçisi Aranıyor</a></h6>
                                        <div class="mt-5"><span class="card-briefcase">10 Kişi</span><span class="card-time">10.12.2023</span></div>
                                        <p class="font-sm color-text-paragraph mt-15"> Manisa - Turgutlu ilçesinde bulunan bağımızda üzüm hasadı için deneyimli işçilere ihtiyaç vardır.</p>
                                        <div class="mt-30">
                                            <a class="btn btn-grey-small mr-5" href="jobs-grid.html">Manisa Üzüm Bağı</a><a class="btn btn-grey-small mr-5" href="jobs-grid.html">Üzüm Hasadı</a><a class="btn btn-grey-small mr-5" href="jobs-grid.html">Üzüm Bağı</a>
                                        </div>
                                        <div class="card-2-bottom mt-30">
                                            <div class="row">
                                                <div class="col-lg-6 col-6"><span class="card-text-price">500₺</span><span class="text-muted">/Günlük</span></div>

                                                <div class="col-lg-3 col-3 text-end">
                                                    <a class="btn btn-apply-now" href="">Güncelle</a>
                                                </div>
                                                <div class="col-lg-3 col-3 ">
                                                    <div class="btn btn-apply-now" style="background-color:darkgrey; color:white;" data-bs-toggle="modal" data-bs-target="#ModalApplyJobForm">Başvurular</div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                <div class="card-grid-2 hover-up">
                                    <div class="card-grid-2-image-left">
                                        <span class="flash"></span>
                                        <div class="image-box cstm-img"><img src="~/Assets/imgs/job2.jpg" alt="jobBox"></div>
                                        <div class="right-info"><span class="location-small">Manisa, Turgutlu</span></div>
                                    </div>
                                    <div class="card-block-info">
                                        <h6><a href="job-details.html">Üzüm Hasadı İşçisi Aranıyor</a></h6>
                                        <div class="mt-5"><span class="card-briefcase">10 Kişi</span><span class="card-time">10.12.2023</span></div>
                                        <p class="font-sm color-text-paragraph mt-15"> Manisa - Turgutlu ilçesinde bulunan bağımızda üzüm hasadı için deneyimli işçilere ihtiyaç vardır.</p>
                                        <div class="mt-30">
                                            <a class="btn btn-grey-small mr-5" href="jobs-grid.html">Manisa Üzüm Bağı</a><a class="btn btn-grey-small mr-5" href="jobs-grid.html">Üzüm Hasadı</a><a class="btn btn-grey-small mr-5" href="jobs-grid.html">Üzüm Bağı</a>
                                        </div>
                                        <div class="card-2-bottom mt-30">
                                            <div class="row">
                                                <div class="col-lg-6 col-6"><span class="card-text-price">500₺</span><span class="text-muted">/Günlük</span></div>

                                                <div class="col-lg-3 col-3 text-end">
                                                    <a class="btn btn-apply-now" href="">Güncelle</a>
                                                </div>
                                                <div class="col-lg-3 col-3 ">
                                                    <div class="btn btn-apply-now" style="background-color:darkgrey; color:white;" data-bs-toggle="modal" data-bs-target="#ModalApplyJobForm">Başvurular</div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                <div class="card-grid-2 hover-up">
                                    <div class="card-grid-2-image-left">
                                        <span class="flash"></span>
                                        <div class="image-box cstm-img"><img src="~/Assets/imgs/job2.jpg" alt="jobBox"></div>
                                        <div class="right-info"><span class="location-small">Manisa, Turgutlu</span></div>
                                    </div>
                                    <div class="card-block-info">
                                        <h6><a href="job-details.html">Üzüm Hasadı İşçisi Aranıyor</a></h6>
                                        <div class="mt-5"><span class="card-briefcase">10 Kişi</span><span class="card-time">10.12.2023</span></div>
                                        <p class="font-sm color-text-paragraph mt-15"> Manisa - Turgutlu ilçesinde bulunan bağımızda üzüm hasadı için deneyimli işçilere ihtiyaç vardır.</p>
                                        <div class="mt-30">
                                            <a class="btn btn-grey-small mr-5" href="jobs-grid.html">Manisa Üzüm Bağı</a><a class="btn btn-grey-small mr-5" href="jobs-grid.html">Üzüm Hasadı</a><a class="btn btn-grey-small mr-5" href="jobs-grid.html">Üzüm Bağı</a>
                                        </div>
                                        <div class="card-2-bottom mt-30">
                                            <div class="row">
                                                <div class="col-lg-6 col-6"><span class="card-text-price">500₺</span><span class="text-muted">/Günlük</span></div>

                                                <div class="col-lg-3 col-3 text-end">
                                                    <a class="btn btn-apply-now" href="">Güncelle</a>
                                                </div>
                                                <div class="col-lg-3 col-3 ">
                                                    <div class="btn btn-apply-now" style="background-color:darkgrey; color:white;" data-bs-toggle="modal" data-bs-target="#ModalApplyJobForm">Başvurular</div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                <div class="card-grid-2 hover-up">
                                    <div class="card-grid-2-image-left">
                                        <span class="flash"></span>
                                        <div class="image-box cstm-img"><img src="~/Assets/imgs/job2.jpg" alt="jobBox"></div>
                                        <div class="right-info"><span class="location-small">Manisa, Turgutlu</span></div>
                                    </div>
                                    <div class="card-block-info">
                                        <h6><a href="job-details.html">Üzüm Hasadı İşçisi Aranıyor</a></h6>
                                        <div class="mt-5"><span class="card-briefcase">10 Kişi</span><span class="card-time">10.12.2023</span></div>
                                        <p class="font-sm color-text-paragraph mt-15"> Manisa - Turgutlu ilçesinde bulunan bağımızda üzüm hasadı için deneyimli işçilere ihtiyaç vardır.</p>
                                        <div class="mt-30">
                                            <a class="btn btn-grey-small mr-5" href="jobs-grid.html">Manisa Üzüm Bağı</a><a class="btn btn-grey-small mr-5" href="jobs-grid.html">Üzüm Hasadı</a><a class="btn btn-grey-small mr-5" href="jobs-grid.html">Üzüm Bağı</a>
                                        </div>
                                        <div class="card-2-bottom mt-30">
                                            <div class="row">
                                                <div class="col-lg-6 col-6"><span class="card-text-price">500₺</span><span class="text-muted">/Günlük</span></div>

                                                <div class="col-lg-3 col-3 text-end">
                                                    <a class="btn btn-apply-now" href="">Güncelle</a>
                                                </div>
                                                <div class="col-lg-3 col-3 ">
                                                    <div class="btn btn-apply-now" style="background-color:darkgrey; color:white;" data-bs-toggle="modal" data-bs-target="#ModalApplyJobForm">Başvurular</div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                <div class="card-grid-2 hover-up">
                                    <div class="card-grid-2-image-left">
                                        <span class="flash"></span>
                                        <div class="image-box cstm-img"><img src="~/Assets/imgs/job2.jpg" alt="jobBox"></div>
                                        <div class="right-info"><span class="location-small">Manisa, Turgutlu</span></div>
                                    </div>
                                    <div class="card-block-info">
                                        <h6><a href="job-details.html">Üzüm Hasadı İşçisi Aranıyor</a></h6>
                                        <div class="mt-5"><span class="card-briefcase">10 Kişi</span><span class="card-time">10.12.2023</span></div>
                                        <p class="font-sm color-text-paragraph mt-15"> Manisa - Turgutlu ilçesinde bulunan bağımızda üzüm hasadı için deneyimli işçilere ihtiyaç vardır.</p>
                                        <div class="mt-30">
                                            <a class="btn btn-grey-small mr-5" href="jobs-grid.html">Manisa Üzüm Bağı</a><a class="btn btn-grey-small mr-5" href="jobs-grid.html">Üzüm Hasadı</a><a class="btn btn-grey-small mr-5" href="jobs-grid.html">Üzüm Bağı</a>
                                        </div>
                                        <div class="card-2-bottom mt-30">
                                            <div class="row">
                                                <div class="col-lg-6 col-6"><span class="card-text-price">500₺</span><span class="text-muted">/Günlük</span></div>

                                                <div class="col-lg-3 col-3 text-end">
                                                    <a class="btn btn-apply-now" href="">Güncelle</a>
                                                </div>
                                                <div class="col-lg-3 col-3 ">
                                                    <div class="btn btn-apply-now" style="background-color:darkgrey; color:white;" data-bs-toggle="modal" data-bs-target="#ModalApplyJobForm">Başvurular</div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                <div class="card-grid-2 hover-up">
                                    <div class="card-grid-2-image-left">
                                        <span class="flash"></span>
                                        <div class="image-box cstm-img"><img src="~/Assets/imgs/job2.jpg" alt="jobBox"></div>
                                        <div class="right-info"><span class="location-small">Manisa, Turgutlu</span></div>
                                    </div>
                                    <div class="card-block-info">
                                        <h6><a href="job-details.html">Üzüm Hasadı İşçisi Aranıyor</a></h6>
                                        <div class="mt-5"><span class="card-briefcase">10 Kişi</span><span class="card-time">10.12.2023</span></div>
                                        <p class="font-sm color-text-paragraph mt-15"> Manisa - Turgutlu ilçesinde bulunan bağımızda üzüm hasadı için deneyimli işçilere ihtiyaç vardır.</p>
                                        <div class="mt-30">
                                            <a class="btn btn-grey-small mr-5" href="jobs-grid.html">Manisa Üzüm Bağı</a><a class="btn btn-grey-small mr-5" href="jobs-grid.html">Üzüm Hasadı</a><a class="btn btn-grey-small mr-5" href="jobs-grid.html">Üzüm Bağı</a>
                                        </div>
                                        <div class="card-2-bottom mt-30">
                                            <div class="row">
                                                <div class="col-lg-6 col-6"><span class="card-text-price">500₺</span><span class="text-muted">/Günlük</span></div>

                                                <div class="col-lg-3 col-3 text-end">
                                                    <a class="btn btn-apply-now" href="">Güncelle</a>
                                                </div>
                                                <div class="col-lg-3 col-3 ">
                                                    <div class="btn btn-apply-now" style="background-color:darkgrey; color:white;" data-bs-toggle="modal" data-bs-target="#ModalApplyJobForm">Başvurular</div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                <div class="card-grid-2 hover-up">
                                    <div class="card-grid-2-image-left">
                                        <span class="flash"></span>
                                        <div class="image-box cstm-img"><img src="~/Assets/imgs/job2.jpg" alt="jobBox"></div>
                                        <div class="right-info"><span class="location-small">Manisa, Turgutlu</span></div>
                                    </div>
                                    <div class="card-block-info">
                                        <h6><a href="job-details.html">Üzüm Hasadı İşçisi Aranıyor</a></h6>
                                        <div class="mt-5"><span class="card-briefcase">10 Kişi</span><span class="card-time">10.12.2023</span></div>
                                        <p class="font-sm color-text-paragraph mt-15"> Manisa - Turgutlu ilçesinde bulunan bağımızda üzüm hasadı için deneyimli işçilere ihtiyaç vardır.</p>
                                        <div class="mt-30">
                                            <a class="btn btn-grey-small mr-5" href="jobs-grid.html">Manisa Üzüm Bağı</a><a class="btn btn-grey-small mr-5" href="jobs-grid.html">Üzüm Hasadı</a><a class="btn btn-grey-small mr-5" href="jobs-grid.html">Üzüm Bağı</a>
                                        </div>
                                        <div class="card-2-bottom mt-30">
                                            <div class="row">
                                                <div class="col-lg-6 col-6"><span class="card-text-price">500₺</span><span class="text-muted">/Günlük</span></div>

                                                <div class="col-lg-3 col-3 text-end">
                                                    <a class="btn btn-apply-now" href="">Güncelle</a>
                                                </div>
                                                <div class="col-lg-3 col-3 ">
                                                    <div class="btn btn-apply-now" style="background-color:darkgrey; color:white;" data-bs-toggle="modal" data-bs-target="#ModalApplyJobForm">Başvurular</div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="paginations">
                        <ul class="pager">
                            <li><a class="pager-prev" href="#"></a></li>
                            <li><a class="pager-number" href="#">1</a></li>
                            <li><a class="pager-number" href="#">2</a></li>
                            <li><a class="pager-number" href="#">3</a></li>
                            <li><a class="pager-number" href="#">4</a></li>
                            <li><a class="pager-number" href="#">5</a></li>
                            <li><a class="pager-number active" href="#">6</a></li>
                            <li><a class="pager-number" href="#">7</a></li>
                            <li><a class="pager-next" href="#"></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>

</main>