@{
    Layout = "_Layout";
}
<main class="main my-jobs">
    <section class="section-box-2">
        <div class="container">
            <div class="banner-hero banner-single banner-single-bg">
                <div class="block-banner text-center">
                    <h3 class="wow animate__animated animate__fadeInUp"> Favoriye Eklediğim İlanlar</h3>
                </div>
            </div>
        </div>
    </section>
    <section class="section-box mt-30">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 float-right">
                    <div class="content-page">
                        <div class="row">

                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                <div class="card-grid-2 hover-up">
                                    <div class="card-grid-2-image-left">
                                        <span class="flash"></span>
                                        <div class="image-box cstm-img"><img src="~/Assets/imgs/job1.jpg" alt=""></div>
                                        <div class="right-info"><span class="location-small"> Manisa, Yunusemre</span></div>
                                    </div>
                                    <div class="card-block-info">
                                        <h6><a href="/is-ilani-detay/">Üzüm Toplama</a></h6>
                                        <div class="mt-5"><span class="card-briefcase">10 Kişi</span><span class="card-time">10.10.2023</span></div>
                                        <p style="height: 50px;" class="font-sm color-text-paragraph mt-15">Üzüm toplucak herif pilis</p>
                                        <div class="mt-30" style="height: 50px">

                                            <a class="btn btn-grey-small mr-5">Üzüm</a>

                                        </div>
                                        <div class="card-2-bottom mt-30">
                                            <div class="row">
                                                <div class="col-lg-7 col-7"><span class="card-text-price">500₺</span><span class="text-muted">/Günlük</span></div>
                                                <div class="col-lg-5 col-5 text-end">
                                                    <a class="btn btn-apply-now" href="/is-ilani-detay/">Detay</a>
                                                </div>

                                                <div class="col-12 mt-2">
                                                    <span class="d-flex align-items-center" style="float:right;">
                                                        <span class="font-sm color-text-mutted">
                                                            <a onclick="" href="#" data-bs-toggle="modal" data-bs-target="#ModalRate">İşvereni Puanla</a>
                                                        </span>
                                                    </span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                <div class="card-grid-2 hover-up">
                                    <div class="card-grid-2-image-left">
                                        <span class="flash"></span>
                                        <div class="image-box cstm-img"><img src="~/Assets/imgs/job1.jpg" alt=""></div>
                                        <div class="right-info"><span class="location-small"> Manisa, Yunusemre</span></div>
                                    </div>
                                    <div class="card-block-info">
                                        <h6><a href="/is-ilani-detay/">Üzüm Toplama</a></h6>
                                        <div class="mt-5"><span class="card-briefcase">10 Kişi</span><span class="card-time">10.10.2023</span></div>
                                        <p style="height: 50px;" class="font-sm color-text-paragraph mt-15">Üzüm toplucak herif pilis</p>
                                        <div class="mt-30" style="height: 50px">

                                            <a class="btn btn-grey-small mr-5">Üzüm</a>

                                        </div>
                                        <div class="card-2-bottom mt-30">
                                            <div class="row">
                                                <div class="col-lg-7 col-7"><span class="card-text-price">500₺</span><span class="text-muted">/Günlük</span></div>
                                                <div class="col-lg-5 col-5 text-end">
                                                    <a class="btn btn-apply-now" href="/is-ilani-detay/">Detay</a>
                                                </div>

                                                <div class="col-12 mt-2">
                                                    <span class="d-flex align-items-center" style="float:right;">
                                                        <span class="font-sm color-text-mutted">
                                                            <a onclick="" href="#" data-bs-toggle="modal" data-bs-target="#ModalRate">İşvereni Puanla</a>
                                                        </span>
                                                    </span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                <div class="card-grid-2 hover-up">
                                    <div class="card-grid-2-image-left">
                                        <span class="flash"></span>
                                        <div class="image-box cstm-img"><img src="~/Assets/imgs/job1.jpg" alt=""></div>
                                        <div class="right-info"><span class="location-small"> Manisa, Yunusemre</span></div>
                                    </div>
                                    <div class="card-block-info">
                                        <h6><a href="/is-ilani-detay/">Üzüm Toplama</a></h6>
                                        <div class="mt-5"><span class="card-briefcase">10 Kişi</span><span class="card-time">10.10.2023</span></div>
                                        <p style="height: 50px;" class="font-sm color-text-paragraph mt-15">Üzüm toplucak herif pilis</p>
                                        <div class="mt-30" style="height: 50px">

                                            <a class="btn btn-grey-small mr-5">Üzüm</a>

                                        </div>
                                        <div class="card-2-bottom mt-30">
                                            <div class="row">
                                                <div class="col-lg-7 col-7"><span class="card-text-price">500₺</span><span class="text-muted">/Günlük</span></div>
                                                <div class="col-lg-5 col-5 text-end">
                                                    <a class="btn btn-apply-now" href="/is-ilani-detay/">Detay</a>
                                                </div>

                                                <div class="col-12 mt-2">
                                                    <span class="d-flex align-items-center" style="float:right;">
                                                        <span class="font-sm color-text-mutted">
                                                            <a onclick="" href="#" data-bs-toggle="modal" data-bs-target="#ModalRate">İşvereni Puanla</a>
                                                        </span>
                                                    </span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                <div class="card-grid-2 hover-up">
                                    <div class="card-grid-2-image-left">
                                        <span class="flash"></span>
                                        <div class="image-box cstm-img"><img src="~/Assets/imgs/job1.jpg" alt=""></div>
                                        <div class="right-info"><span class="location-small"> Manisa, Yunusemre</span></div>
                                    </div>
                                    <div class="card-block-info">
                                        <h6><a href="/is-ilani-detay/">Üzüm Toplama</a></h6>
                                        <div class="mt-5"><span class="card-briefcase">10 Kişi</span><span class="card-time">10.10.2023</span></div>
                                        <p style="height: 50px;" class="font-sm color-text-paragraph mt-15">Üzüm toplucak herif pilis</p>
                                        <div class="mt-30" style="height: 50px">

                                            <a class="btn btn-grey-small mr-5">Üzüm</a>

                                        </div>
                                        <div class="card-2-bottom mt-30">
                                            <div class="row">
                                                <div class="col-lg-7 col-7"><span class="card-text-price">500₺</span><span class="text-muted">/Günlük</span></div>
                                                <div class="col-lg-5 col-5 text-end">
                                                    <a class="btn btn-apply-now" href="/is-ilani-detay/">Detay</a>
                                                </div>

                                                <div class="col-12 mt-2">
                                                    <span class="d-flex align-items-center" style="float:right;">
                                                        <span class="font-sm color-text-mutted">
                                                            <a onclick="" href="#" data-bs-toggle="modal" data-bs-target="#ModalRate">İşvereni Puanla</a>
                                                        </span>
                                                    </span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                <div class="card-grid-2 hover-up">
                                    <div class="card-grid-2-image-left">
                                        <span class="flash"></span>
                                        <div class="image-box cstm-img"><img src="~/Assets/imgs/job1.jpg" alt=""></div>
                                        <div class="right-info"><span class="location-small"> Manisa, Yunusemre</span></div>
                                    </div>
                                    <div class="card-block-info">
                                        <h6><a href="/is-ilani-detay/">Üzüm Toplama</a></h6>
                                        <div class="mt-5"><span class="card-briefcase">10 Kişi</span><span class="card-time">10.10.2023</span></div>
                                        <p style="height: 50px;" class="font-sm color-text-paragraph mt-15">Üzüm toplucak herif pilis</p>
                                        <div class="mt-30" style="height: 50px">

                                            <a class="btn btn-grey-small mr-5">Üzüm</a>

                                        </div>
                                        <div class="card-2-bottom mt-30">
                                            <div class="row">
                                                <div class="col-lg-7 col-7"><span class="card-text-price">500₺</span><span class="text-muted">/Günlük</span></div>
                                                <div class="col-lg-5 col-5 text-end">
                                                    <a class="btn btn-apply-now" href="/is-ilani-detay/">Detay</a>
                                                </div>

                                                <div class="col-12 mt-2">
                                                    <span class="d-flex align-items-center" style="float:right;">
                                                        <span class="font-sm color-text-mutted">
                                                            <a onclick="" href="#" data-bs-toggle="modal" data-bs-target="#ModalRate">İşvereni Puanla</a>
                                                        </span>
                                                    </span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                <div class="card-grid-2 hover-up">
                                    <div class="card-grid-2-image-left">
                                        <span class="flash"></span>
                                        <div class="image-box cstm-img"><img src="~/Assets/imgs/job1.jpg" alt=""></div>
                                        <div class="right-info"><span class="location-small"> Manisa, Yunusemre</span></div>
                                    </div>
                                    <div class="card-block-info">
                                        <h6><a href="/is-ilani-detay/">Üzüm Toplama</a></h6>
                                        <div class="mt-5"><span class="card-briefcase">10 Kişi</span><span class="card-time">10.10.2023</span></div>
                                        <p style="height: 50px;" class="font-sm color-text-paragraph mt-15">Üzüm toplucak herif pilis</p>
                                        <div class="mt-30" style="height: 50px">

                                            <a class="btn btn-grey-small mr-5">Üzüm</a>

                                        </div>
                                        <div class="card-2-bottom mt-30">
                                            <div class="row">
                                                <div class="col-lg-7 col-7"><span class="card-text-price">500₺</span><span class="text-muted">/Günlük</span></div>
                                                <div class="col-lg-5 col-5 text-end">
                                                    <a class="btn btn-apply-now" href="/is-ilani-detay/">Detay</a>
                                                </div>

                                                <div class="col-12 mt-2">
                                                    <span class="d-flex align-items-center" style="float:right;">
                                                        <span class="font-sm color-text-mutted">
                                                            <a onclick="" href="#" data-bs-toggle="modal" data-bs-target="#ModalRate">İşvereni Puanla</a>
                                                        </span>
                                                    </span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

