<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="msapplication-TileColor" content="#0E0E0E">
    <meta name="template-color" content="#0E0E0E">
    <link rel="manifest" href="manifest.json" crossorigin>
    <meta name="msapplication-config" content="browserconfig.xml">
    <meta name="description" content="Index page">
    <meta name="keywords" content="index, page">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="~/Assets/imgs/favicon.png">
    <link href="~/Assets/css/style.css?version=4.1" rel="stylesheet">
    @* <link href="~/Assets/css/style.css" rel="stylesheet" /> *@
    <link href="~/Assets/css/custom.css" rel="stylesheet" />
    <link href="~/lib/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/all.min.css" rel="stylesheet" />
    @* <link href="~/Assets/css/plugins/animate.css" rel="stylesheet" /> *@
    @* <link href="~/Assets/css/plugins/animate.min.css" rel="stylesheet" /> *@
    @* <link href="~/Assets/css/plugins/bootstrap.css" rel="stylesheet" /> *@
    @* <link href="~/Assets/css/plugins/jquery-ui.css" rel="stylesheet" /> *@
    @* <link href="~/Assets/css/plugins/magnific-popup.css" rel="stylesheet" /> *@
    @* <link href="~/Assets/css/plugins/perfect-scrollbar.css" rel="stylesheet" /> *@
    @* <link href="~/Assets/css/plugins/select2.min.css" rel="stylesheet" /> *@
    @* <link href="~/Assets/css/plugins/slick.css" rel="stylesheet" /> *@
    @* <link href="~/Assets/css/plugins/swiper-bundle.min.css.css" rel="stylesheet" /> *@
    @* <link href="~/Assets/css/vendors/bootstrap.min.css" rel="stylesheet" /> *@
    @* <link href="~/Assets/css/vendors/normalize.css" rel="stylesheet" /> *@
    @* <link href="~/Assets/css/vendors/uicons-regular-rounded.css" rel="stylesheet" /> *@
    @* <link href="~/Assets/css/vendors/uicons-regular-straight.css" rel="stylesheet" /> *@
    <title>Tarım İstihdam</title>
</head>
<body>
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center"><img src="~/Assets/imgs/template/loading.gif" alt="jobBox"></div>
            </div>
        </div>
    </div>
    @await Component.InvokeAsync("Menu")
    @RenderBody()
    <footer class="footer mt-50">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12" style="margin-right:auto;">
                    <a href="~/"><img class="menu-logo" src="~/Assets/imgs/logo.png"></a>
                    <div class="mt-20 mb-20 font-xs color-text-paragraph-2">Tarım İstihdam Projesi, geleneksel tarım işe alım yöntemlerindeki zayıflıkları modern bir dokunuşla aşıyor! </div>
                </div>
                <div class="col-md-4 col-xs-6">
                    <h6 class="mb-20">Hızlı Ulaşım</h6>
                    <ul class="menu-footer">
                        <li><a href="/hakkimizda">Hakkımızda</a></li>
                        <li><a href="/is-ilanlari">İş İlanları</a></li>
                        <li><a href="/is-ilanlarim">İş İlanlarım</a></li>
                        <li><a href="/iletisim">İletişim</a></li>
                    </ul>
                </div>


@*                 <div class="footer-col-6 col-md-4 col-sm-12">
                    <h6 class="mb-20">Download App</h6>
                    <p class="color-text-paragraph-2 font-xs">Download our Apps and get extra 15% Discount on your first Order&mldr;!</p>
                    <div class="mt-15"><a class="mr-5" href="#"><img src="~/Assets/imgs/template/icons/app-store.png" alt="joxBox"></a><a href="#"><img src="assets/imgs/template/icons/android.png" alt="joxBox"></a></div>
                </div> *@
            </div>
            <div class="footer-bottom mt-50">
                <div class="row">
                    <div class="col-md-6"><span class="font-xs color-text-paragraph">© 2023 - Tüm hakları saklıdır </span></div>
                    <div class="col-md-6 text-md-end text-start">
                        <div class="footer-social"><a class="font-xs color-text-paragraph" href="~/gizlilik-politikamiz">Gizlilik Politikamız</a><a class="font-xs color-text-paragraph mr-30 ml-30" href="~/kvkk">KVKK</a></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/Assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="~/Assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="~/Assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="~/Assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Assets/js/plugins/waypoints.js"></script>
    <script src="~/Assets/js/plugins/wow.js"></script>
    <script src="~/Assets/js/plugins/magnific-popup.js"></script>
    <script src="~/Assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="~/Assets/js/plugins/select2.min.js"></script>
    <script src="~/Assets/js/plugins/isotope.js"></script>
    <script src="~/Assets/js/plugins/scrollup.js"></script>
    <script src="~/Assets/js/plugins/swiper-bundle.min.js"></script>
    <script src="~/Assets/js/plugins/counterup.js"></script>
    <script src="~/Assets/js/plugins/armcharts5-script.js"></script>
    <script src="~/Assets/js/plugins/images-loaded.js"></script>
    <script src="~/Assets/js/plugins/jquery.circliful.js"></script>
    <script src="~/Assets/js/main.js?v=4.1"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="~/Assets/js/custom.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>