@{
    Layout = "_Layout";
}

<section class="section-box mt-50">
    <div class="post-loop-grid">
        <div class="container">
            <div class="text-center">
                <h6 class="f-18 color-text-mutted text-uppercase">Tarım İstihdam</h6>
                <h2 class="section-title mb-10 wow animate__animated animate__fadeInUp">Biz Kimiz?</h2>
                <p class="font-sm color-text-paragraph wow animate__animated animate__fadeInUp w-lg-50 mx-auto"> Şirketimiz, tarım sektöründe işe alım süreçlerini modernize etmeyi amaçlayan bir liderdir. Tarım İstihdam Projesi ile, işverenler ve çalışanlar arasındaki bağları güçlendiriyor, sürdürülebilir ve etkili çözümler sunuyoruz. </p>
            </div>
            <div class="row mt-70">
                <div class="col-lg-6 col-md-12 col-sm-12"><img  style=" width: 582px; height: 528px; object-fit: cover;"src="assets/imgs/aboutus.jpg" alt="Tarım İstihdam"></div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <h3 class="mt-15">Neler Yapıyoruz?</h3>
                    <div class="mt-20">
                        <p class="font-md color-text-paragraph mt-20">Şirketimiz, tarım sektöründe köklü bir değişim ve modernizasyonu hedefleyen bir misyonla yola çıkmıştır. Tarım İstihdam Projesi, bu hedef doğrultusunda geliştirilen bir çözümle sektörde öncü bir rol oynamaktadır. Projemizin temelinde yatan güç, geleneksel işe alım süreçlerini dönüştürerek, tarım işverenleri ile çalışanları arasındaki bağları kuvvetlendirmeyi amaçlamaktadır.</p>
                        <p class="font-md color-text-paragraph mt-20">Sektördeki ihtiyaçları ve zorlukları anlayarak geliştirdiğimiz bu proje, modern ve etkili bir işe alım platformunu işverenlere ve çalışanlara sunarak sektöre değer katmaktadır. Sürdürülebilirlik ve yenilikçilik, projemizin temel taşlarıdır. Yenilikçi yaklaşımlar ve teknolojik çözümlerle tarımın geleceğine olumlu bir etki sağlamayı hedefleriz.</p>

                        <p class="font-md color-text-paragraph mt-20">Şirket olarak taahhüt ettiğimiz değerler doğrultusunda, tarım istihdamının geleceğini şekillendiren bir vizyonu paylaşıyoruz. Ekibimiz, sektördeki tüm paydaşlara güvenilir, şeffaf ve yenilikçi bir işe alım deneyimi sunma konusundaki kararlılığını sürdürmektedir. Tarım İstihdam Projesi, sektördeki tüm oyunculara bir araya gelme ve başarıya ulaşma konusunda güçlü bir ortaklık sunarak, tarımın geleceğini daha aydınlık bir şekilde şekillendirme amacını taşımaktadır.</p>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>