@{
    Layout = "_Layout";
}
<main class="main contact">
    <section class="section-box mt-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-40">
                    <span class="font-md color-brand-2 mt-20 d-inline-block">İletişim</span>
                    <h2 class="mt-5 mb-10">Bize Ulaşın</h2>
                    <form class="contact-form-style mt-30" id="contact-form" onsubmit="sendForm(event)">
                        <div class="row wow animate__animated animate__fadeInUp" data-wow-delay=".1s">
                            <div class="col-lg-6 col-md-6">
                                <div class="input-style mb-20">
                                    <input class="font-sm color-text-paragraph-2" name="name" placeholder="İsim Soyisim" type="text">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="input-style mb-20">
                                    <input class="font-sm color-text-paragraph-2" name="company" placeholder="Şirket (opsiyonel)" type="text">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="input-style mb-20">
                                    <input class="font-sm color-text-paragraph-2" name="email" placeholder="E-Posta" type="email">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="input-style mb-20">
                                    <input class="font-sm color-text-paragraph-2" name="phone" placeholder="Telefon" type="tel">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="textarea-style mb-30">
                                    <textarea class="font-sm color-text-paragraph-2" name="message" placeholder="Açıklama"></textarea>
                                </div>
                                <button class="submit btn btn-send-message" type="submit">Gönder</button>
                                <label class="ml-20">
                                    <input class="float-start mr-5 mt-6" type="checkbox"> Kişisel verilerimin saklanması ve işlenmesini onaylıyorum.
                                </label>
                            </div>
                        </div>
                    </form>
                    <p class="form-message mt-2"></p>
                </div>
                <div class="col-lg-4 text-center d-none d-lg-block"><img src="assets/imgs/page/contact/img.png" alt="joxBox"></div>
            </div>
        </div>
    </section>
</main>
@section scripts {
    <script>
        const sendForm = (e) => {
            e.preventDefault();
            const form = document.getElementById('contact-form');
            const formData = new FormData(form);
            const data = {};
            for (var [key, value] of formData.entries()) {
                data[key] = value;
            }
            $.ajax({
                type: "POST",
                url: "/Corporate/Contact",
                data: data,
                success: function (response) {
                    form.reset();
                    $('.form-message').html('<div class="alert alert-success">Mesajınız başarıyla gönderildi.</div>');
                },
                error: function (response) {
                    console.log(response);
                    $('.form-message').html('<div class="alert alert-danger">Mesajınız gönderilirken bir hata oluştu.</div>');
                }
            });
        }
    </script>
}