@{
    Layout = "_Layout";
}


<main class="main">
    <section class="section-box">
        <div><img style="object-fit:cover; width:2000px; height:500px;" src="assets/imgs/kvkk.jpg"></div>
    </section>
    <section class="section-box">
        <div class="archive-header pt-50 text-center">
            <div class="container">
                <div class="box-white">
                    <div class="max-width-single">
                        <h2 class="mb-30 mt-20 text-center">KVKK</h2>
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="post-loop-grid">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="single-body">
                        <div class="max-width-single">
                            <div class="font-lg mb-30">
                                <p>
                                    Kişisel Verilerin İşlenme Amaçları:<br />
                                    Toplanan kişisel verileriniz aşağıdaki amaçlar doğrultusunda işlenmektedir:<br />
                                    Tarım İstihdam Projesi'ne yönelik işe alım ve iş başvurularınızı değerlendirmek,<br />
                                    Size proje güncellemeleri, duyurular ve ilgili haberleri iletmek,<br />
                                    İlgilendiğiniz iş fırsatları hakkında sizi bilgilendirmek.<br />

                                </p>
                                <p>
                                    Kişisel Verilerin İşleme Hukuki Sebepleri:<br />
                                    Kişisel verileriniz, işleme faaliyetlerimizi yürütmek, yasal yükümlülüklerimize uymak ve meşru menfaatlerimize hizmet etmek amacıyla işlenmektedir.
                                </p>
                                <p>
                                    Kişisel Verilerin İşlenme Süresi:<br />
                                    Toplanan kişisel veriler, işleme amaçlarına uygun olarak ve ilgili mevzuata uygun olarak belirlenen süre boyunca saklanacaktır.
                                </p>
                                <p>
                                    Kişisel Verilerin Üçüncü Taraflarla Paylaşımı:<br />
                                    Kişisel verileriniz, iş ortaklarımız, hizmet sağlayıcılarımız ve yasal düzenlemelere uygun olarak paylaşılabilecektir.
                                </p>
                                <p>
                                    Kişisel Veri Sahibi Hakları:<br />
                                    KVKK kapsamında, kişisel veri sahiplerine tanınan haklardan bazıları şunlardır:<br />

                                    Kişisel verilerinizin işlenip işlenmediğini öğrenme,<br />
                                    İşlenmiş olan kişisel verilerinizi inceleme,<br />
                                    Kişisel verilerinizin eksik veya yanlış işlenmiş olması halinde düzeltilmesini talep etme,<br />
                                    Kişisel verilerinizin silinmesini veya yok edilmesini talep etme,<br />
                                    İşlenmiş verilerinizin aktarıldığı üçüncü kişilere bilgi verilmesini isteme.<br />
                                </p>
                                <p>
                                    İletişim:<br />
                                    Kişisel veri işleme süreçleri ile ilgili her türlü soru, görüş ve talepleriniz için [info@tarimistihdam.com] e-posta adresinden bize ulaşabilirsiniz.<br /><br />

                                    Bu açıklama metni, KVKK çerçevesinde gerektiğinde güncellenebilir. Güncellemeleri takip etmek adına periyodik olarak kontrol etmeyi unutmayınız.<br />

                                    Saygılarımızla,<br />
                                    Tarım İstihdam
                                </p>
                            </div>
                        </div>
                   
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>