@{
    Layout = "_Layout";
}
<main class="main">
    <section class="section-box">
        <div><img style="object-fit:cover; width:2000px; height:500px;" src="assets/imgs/kvkk.jpg"></div>
    </section>
    <section class="section-box">
        <div class="archive-header pt-50 text-center">
            <div class="container">
                <div class="box-white">
                    <div class="max-width-single">
                        <h2 class="mb-30 mt-20 text-center">Gizlilik Politikamız</h2>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="post-loop-grid">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="single-body">
                        <div class="max-width-single">
                            <div class="font-lg mb-30">
                                <p>
                                    Tarım İstihdam Projesi olarak, ziyaretçi ve kullanıcılarımızın gizliliğine önem veriyoruz.
                                    Topladığımız kişisel bilgileri sadece belirli amaçlar doğrultusunda kullanıyoruz:
                                    iş başvurularını değerlendirmek, projeye dair güncellemeleri iletmek ve ilgili iş fırsatları
                                    hakkında bilgi vermek. Bu bilgileri asla izinsiz paylaşmıyor ve gizliliğinizi koruma taahhüdünde bulunuyoruz.
                                    Gizlilik politikamızda yapılan değişiklikleri öğrenmek için lütfen bu sayfayı düzenli olarak kontrol edin.
                                    İletişim veya bilgi talepleriniz için bize her zaman [İletişim] sayfamızdaki bilgiler üzerinden ulaşabilirsiniz.
                                </p>
                  
                                <p>
                                  
                                    Saygılarımızla,<br />
                                    Tarım İstihdam
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</main>